{{ define "main" }}

<!-- $pages -->
{{ $pages := where .Site.RegularPages "Type" "post" }}

<h1>{{ .Title }} (#{{ len $pages }} Posts)</h1>

<p>This is a full list of all posts on this blog:</p>

<!-- Articles -->
<section class="archive-wrapper">
    <ul>
        {{ range $index, $page := $pages }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <span>{{ .Date | time.Format ":date_medium" }}</span>
        </li>
        {{ end }}
    </ul>
</section>

{{ end }}